.meals-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.meals-item {
    width: 300px;
    height: 370px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.meals-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.meals-item img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.meals-item h3 {
    font-size: 1.5em;
    margin: 10px 0;
}